<a href="https://colab.research.google.com/github/gkarthick510/Project/blob/main/insurence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
test=pd.read_csv('/content/test (2).csv')
train=pd.read_csv('/content/train (2).csv')
#trainbe=pd.read_csv('/content/train_bene_1.csv')

In [ ]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,target
0,110936,0.429,12058.0,355060.0,0.0,0.0,0.0,99.02,13.0,C,Urban,3300.0,1.0
1,41492,0.010,21546.0,315150.0,0.0,0.0,0.0,99.89,21.0,A,Urban,18000.0,1.0
2,31300,0.917,17531.0,84140.0,2.0,3.0,1.0,98.69,7.0,C,Rural,3300.0,0.0
3,19415,0.049,15341.0,250510.0,0.0,0.0,0.0,99.57,9.0,A,Urban,9600.0,1.0
4,99379,0.052,31400.0,198680.0,0.0,0.0,0.0,99.87,12.0,B,Urban,9600.0,1.0

In [ ]:
train.shape

(19139, 13)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19139 entries, 0 to 19138
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                19139 non-null  int64
 1   perc_premium_paid_by_cash_credit  19139 non-null  float64
 2   age_in_days                       19138 non-null  float64
 3   Income                            19138 non-null  float64
 4   Count_3-6_months_late             19113 non-null  float64
 5   Count_6-12_months_late            19113 non-null  float64
 6   Count_more_than_12_months_late    19113 non-null  float64
 7   application_underwriting_score    18398 non-null  float64
 8   no_of_premiums_paid               19138 non-null  float64
 9   sourcing_channel                  19138 non-null  object
 10  residence_area_type               19138 non-null  object
 11  premium                           19138 non-null  float64
 12  target                            19138 non-null  float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.9+ MB

In [ ]:
train.describe()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,premium,target
count,19139.000000,19139.000000,19138.000000,1.913800e+04,19113.000000,19113.000000,19113.000000,18398.000000,19138.000000,19138.000000,19138.000000
mean,57209.061288,0.317120,18837.644738,2.159639e+05,0.251766,0.079789,0.059959,99.067479,10.869161,10911.923921,0.935625
std,32892.181705,0.337662,5210.438084,8.660471e+05,0.690428,0.447501,0.306147,0.744498,5.210811,9455.606511,0.245425
min,14.000000,0.000000,7670.000000,2.403000e+04,0.000000,0.000000,0.000000,91.980000,2.000000,1200.000000,0.000000
25%,28411.000000,0.034000,14974.000000,1.073800e+05,0.000000,0.000000,0.000000,98.820000,7.000000,5400.000000,1.000000
50%,57351.000000,0.167000,18625.000000,1.670300e+05,0.000000,0.000000,0.000000,99.220000,10.000000,7500.000000,1.000000
75%,85641.500000,0.546000,22636.000000,2.503025e+05,0.000000,0.000000,0.000000,99.540000,14.000000,13800.000000,1.000000
max,114065.000000,1.000000,37240.000000,9.026260e+07,13.000000,17.000000,7.000000,99.890000,56.000000,60000.000000,1.000000

In [ ]:
train['residence_area_type'].value_counts()

Urban    11519
Rural     7619
Name: residence_area_type, dtype: int64

In [ ]:
train['no_of_premiums_paid'].value_counts()

8.0     1711
10.0    1700
9.0     1664
7.0     1581
11.0    1499
6.0     1339
12.0    1316
13.0    1094
5.0     1024
14.0     972
15.0     793
4.0      716
16.0     627
17.0     509
18.0     431
3.0      424
19.0     333
20.0     272
21.0     194
2.0      186
22.0     185
23.0     132
25.0      84
24.0      80
26.0      50
27.0      46
28.0      39
29.0      27
30.0      21
31.0      18
34.0      13
33.0      13
35.0      12
32.0      10
36.0       5
42.0       3
38.0       2
54.0       2
39.0       2
50.0       2
40.0       2
56.0       1
37.0       1
53.0       1
48.0       1
47.0       1
Name: no_of_premiums_paid, dtype: int64

In [ ]:
train['sourcing_channel'].value_counts()

A    10416
B     3896
C     2854
D     1816
E      156
Name: sourcing_channel, dtype: int64

In [ ]:
train['target'].value_counts()

1.0    17906
0.0     1232
Name: target, dtype: int64

In [ ]:
test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type
0,649,0.001,27384,51150,0.0,0.0,0.0,99.89,7,A,Rural
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.93,19,A,Urban
2,70762,1.000,17170,186030,0.0,0.0,0.0,NaN,2,B,Urban
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.00,11,B,Rural
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.17,14,A,Rural